xcode
xcode32
build
.project
.metadata
config/SampledPoints.txt
config/ConsoleLog.txt
.cproject
Makefile
config/transferFunctions/
Build_mvs08/
Build_Eclipse_NMake/
CustusX3.git.cpp
source/gui/icons/open_icon_library/png/64x64/.DS_Store
*.DS_Store
Build_nmake64
Build_nmake32/
config/settings/
data/

