xcode
xcode32
build
.project
.metadata
config/SampledPoints.txt
config/ConsoleLog.txt
.cproject
Makefile
config/transferFunctions/
Build_mvs08/
Build_Eclipse_NMake/
CustusX3.git.cpp
source/gui/icons/open_icon_library/png/64x64/.DS_Store
*.DS_Store
Build_nmake64
Build_nmake32/
config/settings/
*.pyc
CMakeLists.txt.user*
*~
MyConfig.xml
org.custusx.log.all.txt
org.custusx.log.console.txt
org.custusx.log.qdebug.txt
org.custusx.log.stdout.txt
config/Logs/2015-01-19/org.custusx.log.plugin.txt
config/Logs/
*.orig
